<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- liteMode -->

        <!-- BRAND -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#alignment-example" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/home">Custom Assignment</a>
        </div>

        <!-- COLLAPSIBLE NAVBAR -->
        <div class="collapse navbar-collapse" id="alignment-example">

            <!-- Links -->
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/message">Message</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/game-arena']">Game Arena</a></li>
                <li routerLinkActive="active"><a routerLink="/dashboard">DashBoard</a></li>
            </ul>

            <!-- Search -->
            <button type="button" class="btn btn-default navbar-btn navbar-right">Sign in</button>
            <div class="custButton navbar-btn navbar-right">
                <fa-icon [icon]="faUserPlus" (click)="addANewPlayer()"></fa-icon>
                <cust-card *ngIf="isAddingPlayer">
                    <h4>New Player - Details</h4>
                    <div [formGroup]="newPlayerFormGroup">
                        <label class="col-sm-2 control-label" for="Id">Id</label>
                        <div class="col-sm-10 element">
                            <input type="number" class="form-control" id="Id" placeholder="Ex. 1015"
                                formControlName="playerId">
                            <span class="error-msg"
                                *ngIf="newPlayerFormGroup.controls.playerId.invalid && newPlayerFormGroup.controls.playerId.touched">
                                Please enter a valid Id
                            </span>
                        </div>
                        <label class="col-sm-2 control-label" for="Name">Name</label>
                        <div class="col-sm-10 element">
                            <input type="text" class="form-control" id="Name" placeholder="Ex. Sreekesh"
                                formControlName="playerName">
                            <span class="error-msg"
                                *ngIf="newPlayerFormGroup.controls.playerName.invalid && newPlayerFormGroup.controls.playerName.touched">
                                Please enter a valid Name
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="buttonRow">
                        <button type="submit" class="btn btn-default" (click)="cancelAddingPlayer()">Cancel</button>
                        <button type="submit" class="btn btn-default" (click)="submitNewPlayer()">Add Player</button>
                    </div>
                    <br>
                </cust-card>
            </div>

        </div>

    </div>
</nav>