nav {
  border-radius: 0px;
  .container-fluid {
    padding: 0 40px;
  }
  .navbar-brand {
    font-size: x-large;
    font-weight: 700;
  }
  .custButton {
    position: relative;
    padding: 2px 10px;
    margin-right: 20px;
    cursor: pointer;
    fa-icon {
      font-size: 20px;
    }
    cust-card {
      position: absolute;
      right: 0;
      top: 0;
      min-width: 500px;
      z-index: 5;
      opacity: 1;
      background-color: darkgrey;
      .buttonRow {
        // display: flex;
        // flex-direction: row;
        // justify-content: flex-end;
        button {
          margin-right: 10px;
        }
      }
      .element {
        display: flex;
        flex-direction: column;
        padding-right: 20px;
        margin-bottom: 20px;
        z-index: 2;
        input {
          z-index: 3;
          &.ng-invalid.ng-touched {
            border: 1px solid red;
          }
        }
        .error-msg {
          z-index: 2px;
          margin-top: -3px;
          width: 100%;
          padding: 5px 10px 2px 10px;
          color: rgba(255, 40, 40, 0.932);
          background-color: rgba(122, 122, 122, 0.267);
          border-radius: 2px;
        }
      }
    }
  }
}
