<cust-card>
    
    <div class="row">
        <div class="col-xs-8">
            <h2 [style.font-size]="gameControllerTextFontSize">{{"Game Controller" | uppercase}}</h2>
        </div>
        <div class="col-xs-4">
            <p>{{ gameCreatedAt | date:"dd-MM-yyyy,  hh:mm" }}</p>
        </div>
    </div>
    <hr>
    <div *ngIf="!!finalMessage">
        <div class="finalMessage" [innerHTML]="finalMessage"></div>
        <div class="col-xs-6 col-xs-offset-3">
            <button class="btn btn-primary" (mousedown)="startANewGame(true)">Start One more Game
            </button>
        </div>
    </div>
    <div class="actions" *ngIf="!finalMessage">
        <div class="row" *ngIf="playerAnswers.length<2; else decideWinner">
            <div class="col-xs-4 col-xs-offset-1">
                <button class="btn btn-primary" (mousedown)="startANewGame()"
                    [disabled]="!!gameQuestion.generatedValue1">Start A New Game
                </button>
            </div>
            <div class="col-xs-4 col-xs-offset-1">
                <button class="btn btn-info" [ngClass]="playerAnswers.length!=0 ? 'pinkColorBackGround' : ''"
                    (mousedown)="resetTheGame()" [disabled]="!gameQuestion.generatedValue1">Reset
                </button>
            </div>
        </div>
        <ng-template #decideWinner>
            <div class="col-xs-4 col-xs-offset-4">
                <button class="btn btn-success" (mousedown)="decideTheWinner()">Decide the winner
                </button>
            </div>
        </ng-template>
        <br>
        <!-- {{gameQuestion | json}} -->
        <br>
        <p *ngFor="let playerAns of playerAnswers">{{playerAns.playerName}}'s answer is {{playerAns.answer}}</p>
    </div>
    
</cust-card>