h2 {
  margin: 10px 0;
}
.finalMessage {
  font-size: xx-large;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pinkColorBackGround {
  background-color: pink;
}

button {
  width: 100%;
}
