.messageWrapper {
  padding: 20px;
  .msgInnerWrap {
    img {
      max-width: 100%;
      height: auto;
    }
    h3 {
      margin: 6px 0;
      text-decoration: underline;
    }
    .mat-stepper-vertical {
      margin-top: 8px;
    }
    .mat-form-field {
      margin-top: 16px;
    }
    padding: 20px;
    border-radius: 10px;
    // margin: 20px;
    background-color: #00000093;
    box-shadow: -5px 5px 8px rgba(208, 211, 200, 0.5);
    h2 {
      margin: 10px 0;
    }
    ul {
      list-style-type: none;
      margin: 10px 0 10px 0;
      li {
        list-style-type: none;
        margin: 0 0 5px 0;
      }
    }
  }
}
