<div class="messageWrapper">
    <div class="msgInnerWrap">
        <div class="row">
            <div class="col-xs-9">
                <h3> Version 14</h3>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-info" (click)="isOpen = !isOpen">Open/Close</button>
            </div>
        </div>

        <div *ngIf="isOpen">

            <h3>HTTP - Backend calls</h3>

            <mat-vertical-stepper [linear]="isLinear" #stepper>

                <mat-step>
                    <ng-template matStepLabel>
                        <h4>Http Init</h4>
                    </ng-template>
                    <ul>
                        <li>i. Set Up your new firebase project and get the url of your realtime database.. </li>
                        <li>ii. Import appropriate modules for the HTTP to work in your angular app</li>
                        <li>iii. Create a common service - maybe called - backend-service.ts.. to do all the http calls
                            to the backend</li>
                    </ul>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>
                        <h4>Adding Players from Start Screen - PUT</h4>
                    </ng-template>
                    <ul>
                        <h4>First google and see what HTTP PUT is..</h4>
                        <li>i. So which place do you think is the best one to call the functions in the backendservice..
                            ???</li>
                        <li>ii. The perfect place is database service.. So far as our app is concerned.. the database
                            service is responsible for fetching the data ..and storing data.. so this is the perfect
                            place to do http calls.. (*using the help of backend service of course.. but the control
                            would be here.. what to do when we get the data..and all that should be decided in the
                            database service)</li>
                        <li>iii. Now.. comes to the actual coding.. on validating and submitting the players do a put
                            call to send the list of playerStats directly to $firebaseUrl/palyers.json - and see what
                            happening in your firebase account</li>
                        <li>iv. Now Reload the app again and submit the data again.. see what'll happen.. the players
                            you submitted previlusly will get lost and the new ones you created now will be added -
                            because that's what PUT does.. it puts the data.. </li>
                    </ul>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>
                        <h4>Understanding FireBase database structure</h4>
                    </ng-template>
                    <ul>
                        <li>i. Adding players in the database.. without checking how you are adding is easy.. Now
                            getting them is somewhat complex</li>
                        <li>ii. First.. before getting.. go and see how the players are added in the database.. </li>
                        <ul>
                            <li>a. The format you sent is array right..??.. but in the firebase database it won't get
                                added as an array.. it will be added in the form of objects(**actually JSONs if you
                                want more clarity)
                            </li>
                            <li>b. The normal case is --- Whenever any new element is added in firebase.. It will
                                generate a random id..... and use it as a key to assign the element we try to add..</li>
                            <li>c. But in our case we are sending the array.. so it will be stored as Oject with the key
                                values as indexes of the elements in the array (*not the random key) ....</li>
                            <li>e. But the good thing is when you try to fetch it .. we get the object in the response
                            </li>
                            <hr>
                            <strong>Array object with the indexes</strong>
                            <br>
                            {{arrayObj|json}}
                            <hr>
                            <li>f. But when we try to assign it to our array.. It works fine.. since that object with
                                indexes 1,2,3... can be easily converted to the array.. and we can use this array
                                afterwards
                            </li>
                            <!-- <li>c. Now if you try to fetch the data.. it will come in an object format.. you'll have to
                                traverse through the each [key, value] pair in the object and push the value to your
                                array - Just
                                remember it</li> -->
                        </ul>
                    </ul>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>
                        <h4>Getting the Players from Start Screen - GET</h4>
                    </ng-template>
                    <ul>
                        <!-- 
                        <li>i. Now first things first.. Delete the already added players in the firebase - You can do it
                            directly in the browser.. just hit x mark</li> 
                        -->
                        <h4>First google and see what HTTP GET is..</h4>
                        <li>i. <h3>From Now on if you wanna get the players list .. or any data related to players.. you
                                should get it from firebase itself.. Both READING & WRITING</h3>
                        </li>
                        <h4>So basically.. if you get from firebase(*internet) there will be a delay.. so you can't use
                            canActivate like you used to .. because after you do the above PUT call.. you are directly
                            checking if the values are present in the database service and deciding the boolean.. but it
                            will take time now right.. so lets remove canActivate for now - Refer this <a
                                href="https://bitbucket.org/akshayaravindh1015/custom-assignment/commits/edbcc46153a763bf638e648b7ebb523923fbce6a"
                                target="_blank">Commit</a>
                        </h4>
                        <h4>Now there are two delays</h4>
                        <ul>
                            <li>Delay 1. after you submit the players from start/home - you did a PUT call</li>
                            <li>Delay 2. in the ngOnInit of game-arena - you are gonna do a GET call</li>
                        </ul>
                        <strong>Delay 1</strong>
                        <ul>
                            <li>i. previously after you store the inital players in the database.. you were directly
                                navigating to the game-arena.. but now we are adding the player stats to the firebase
                                which will take time... So what are you gonna do now??</li>
                            <li>ii. Only after you put the players list in the database you should navigate right.. So
                                shift the navigation to the database service where you will be making the put call and
                                in sucess response of that put call navigate to game-arena</li>
                            <li>iii. Refer commit if you want to - <a
                                    href="https://bitbucket.org/akshayaravindh1015/custom-assignment/commits/33d6a5ad6b61159d563cd8976911e1071ef09d4e"
                                    target="_blank">Commit</a></li>
                        </ul>
                        <li>ii. Now we know after adding players from start -> database.. **Here you are doing PUT.. ->
                            then we navigate to game-arena.. in the ngOnit of game-arena -> you
                            just get the data stored in local variable in database service right... comment it.. instead
                            of getting the data from local variable.. get it from database</li>
                        <li>iii. Do a get call here.. forget about actually getting and displaying the data.. first do
                            the get call and try to print the data you are getting</li>
                        <li>iv. Basically in ngOnit of Game-Arena.. you'll have to ask database service to
                            give you players list.. database service will use backend service to do a get call to
                            fetch the players list from firebase database and send it to game-arena</li>
                        <li>iv.
                            <h4>
                                In colcusion game-arena will ask to fetch the latest data from the firebase and store it
                                in database service and send it back to game-arena component - Refer the <a
                                    href="https://bitbucket.org/akshayaravindh1015/custom-assignment/commits/2b1777356ee8e486ba48792864be536deb611077"
                                    target="_blank">Commit</a>
                            </h4>
                        </li>
                        <strong>Delay 2 - GET Delay</strong>
                        <ul>
                            <li>i. Now obviously a GET call also has delay.. Am I right.. so while fetcing the detials
                                from firebase on ngOnit.. you'll have some delay..</li>
                            <li>ii. What are you gonna do is simple.. on ngOnit you'll have initialize the GET call..
                                until you get the result from backend.. you should show a loading indicator.. for now
                                we'll just a show a text - <strong>Loading....</strong></li>
                            <li>iii. After you get the playersList from the firebase.. we'll show the player
                                components.. that is pretty clear.. if your array is empty your *ngFor will not run</li>
                            <li>iii. Refer commit if you want to - <a
                                    href="https://bitbucket.org/akshayaravindh1015/custom-assignment/commits/b352e2876bc4d089c361a53b528be3034cd50e54"
                                    target="_blank">Commit</a></li>
                        </ul>
                    </ul>
                </mat-step>

                <!-- <mat-step>
                    <ng-template matStepLabel>
                        <h4>CanActivate Modification - Don't show Start screen if some player data is already present
                        </h4>
                    </ng-template>
                    <ul>
                        <li>i. Now our default route is to start/home component right.. but why do we need override
                            already existing players List if we already have some players in our database..?</li>
                        <li>ii. So we'll have to make some changes to our existing CanActivate .. if the data in the
                            database is already present it should redirect to the game-arena.. it no data is present is
                            present it should continue navigation to the home/start screen</li>
                        <li>iii. In the
                            ngOnit of game-arena we ask the database service to get the list of players.. database
                            service uses backend service to get the list of players and give it to the game-arena</li>
                    </ul>
                </mat-step> -->

                <mat-step>
                    <ng-template matStepLabel>
                        <h4>Adding Individual players to the database - POST OR PUT??</h4>
                    </ng-template>
                    <ul>
                        <h4>First google and see what HTTP POST is..</h4>
                        <h4>Remember when I told about reading and writing everything from database..even when you add
                            new player in the middle of the game.. you should add it to the database.. so that our local
                            copy of playersList and the firebase copy of palyers is synchronised</h4>
                        <li>i. On Adding a new player - do a post call To the firebase/players.json .. so that new value
                            is added to it</li>
                        <li>ii. After this is done.. reload your app in game-arena - Now you are gonna find something
                            interesting - assuming you've done the same <a
                                href="https://bitbucket.org/akshayaravindh1015/custom-assignment/commits/9af6a1358213ea720375a6fe193495173ce24a8b"
                                target="_blank">Commit</a></li>
                        <ul>
                            <li>a. Remember the Step-3.. when I told random id will get generated but we got lucky since
                                we pushed the entire array..</li>
                            <li>b. Now you can clearly see the result.. and also in the firebase the random key.. and
                                the value you posted assigned to it..So how are you gonna resolve this??</li>
                            <li>c. Now there are two solutions to this.. there is a simple one.. one more which is
                                correct and I strongly suggest</li>
                            <li>d. Lets do the simple one here in this step</li>
                        </ul>
                        <li>iii. The simple solution would be.. instead of telling the firebase to create a random id..
                            you can say create an element at this id</li>
                        <ul>
                            <li>a. Now you already have an id associated to your player right</li>
                            <li>b. Instead of POST to players.json --> PUT to players/{{playerId}}.json</li>
                            <li>c. Now Firebase - instead of creating a new key with ranodm id.. it will use your key to
                                generate the element..</li>
                            <li>d. But if you do this.. After fetching the playerLists...our current logic breaks....
                                can you tell me why..???.. Go an degub why.. </li>
                        </ul>
                        <button class="btn btn-info" (click)="image1.style.display = 'inline'">Show Hint</button>
                        |
                        <button class="btn btn-danger" (click)="image1.style.display = 'none'">Hide hint</button>
                        |
                        <ul #image1 style="display: none">
                            <li>a. Basically so far we were converting array Object with 1,2,3 indexes to array[].. So
                                we didn't face any problems.. But now the situation is different.. the obj is not
                                proper.. it has 1,2,.. then some random id as the key you added..</li>
                            <li>b. Simple solution would be pass the length of the existing array and add the element in
                                that index</li>
                            <li>c. Now the game won't break</li>
                            <li>c. Refer the <a
                                    href="https://bitbucket.org/akshayaravindh1015/custom-assignment/commits/f6e37a567c46ec48e006f49fb284360c9a95923c"
                                    target="_blank">Commit</a></li>
                        </ul>
                    </ul>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>
                        <h4>Using the random Id generated by Firebase</h4>
                    </ng-template>
                    <h4>You have two options </h4>
                    <ul>
                        <li>1. Can convert out players array to the object - make it look exactly like the firebase data
                            (*json) </li>
                        <li>2. Or not.. keep it the same.. but make playerId as an optional parameter and after positng
                            the - We are gonna do this.. cause its easier.. and using ids from firebase makes a lot of
                            sense</li>
                    </ul>
                    <ul>
                        <li>i. So far we are entering the ids for each players.. right.. Now remove that in the UI..So
                            do not get it from user.. i.e remove it from start/home & header where we are adding
                            players. First do it.. if you face any error.. google it.. if it doesnt' work look at my <a
                                href="https://bitbucket.org/akshayaravindh1015/custom-assignment/commits/3bed82d7e1a6038518b02972e2b65ffff89ef510"
                                target="_blank">Commit</a>
                        </li>
                        <li>ii. Ok By this point our app is broken.. no visible errors.. but id is not there right for
                            every
                            player.. nothing will work.. lets add the id.. </li>
                        <li>iii. Now the question is how to get the random id generated by firebase.. ??? remember when
                            you
                            got id from the firebase when you tried to post.. so now we have to POST..</li>
                        <li>iv. Yep.. so now instead of doing PUT at a time for the entire array.. we'll have to POST
                            for
                            each element in the arary and get the ID..</li>
                        <li>v. We are gonna use the id generated by the firebase and update here in our local with the
                            same ids as well</li>
                        <li>vi. We'll have to modify the GET as well - since now we dont have array but object in
                            firebase.. we'll also get object on get with the ids as key value pairs.. so we'll convert
                            that object to array</li>
                        <li><a href="https://bitbucket.org/akshayaravindh1015/custom-assignment/commits/a7e79ffe54365cd6c4d5bdccf998a7627f773b82"
                                target="_blank">Commit</a></li>
                    </ul>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>
                        <h4>Deleting the data in the firebase database - DELETE</h4>
                    </ng-template>
                    <p>Now you might've observed.. on adding players from start/home component previous players data is
                        not getting lost.. As a result.. in the ngOnit of game-areana.. you are fetching all the players
                        in the firebase.. which is a lot .. if you ask me.. so lets add Delete funcionality..</p>
                    <ul>
                        <strong>Part 1 - Entire Data Deletion</strong>
                        <li>i. Add a button Delete Data in the dashboard button.. which will delete entire data from the
                            firebase/players.json</li>
                        <li>ii. Upon successfull deletion.. you need to navigate to the start/home screen.. since you
                            don't have any data now and you wanna add some</li>
                        <li>iii. Refer My <a
                                href="https://bitbucket.org/akshayaravindh1015/custom-assignment/commits/03bc572554f6779efceb3234c240583b3ccc12ee"
                                target="_blank">Commit</a></li>
                    </ul>
                    <ul>
                        <strong>Part 2 - Deleting Inidividual player</strong>
                        <li>iii. Add an icon in each row of the table to each palyer.. using font-awesome</li>
                        <li>iv. If you click the icon.. that player alone should get delted.. </li>
                        <ul>
                            <li>a. You might have missed somethign.. this is not a big deall..</li>
                            <li>b. If you delete player from dataBase.. you should also delete his local session.. his
                                answers.. and everythign.. you should do that as well</li>
                        </ul>
                        <li>v. Refer My <a
                                href="https://bitbucket.org/akshayaravindh1015/custom-assignment/commits/bea7c89fec6d963c73a10a4d70f0aa37010f12a7"
                                target="_blank">Commit</a></li>
                    </ul>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>
                        <h4>PATCH calls to udpate the score and metrics of the individual player - PATCH</h4>
                    </ng-template>
                    <p>So far.. we are not retaining the other stats like win, loss, number Of games played
                        counts.. am I right.. So lets do that</p>
                    <p>Okay lets think about it .. what kind of http operations did we use so far??</p>
                    <ul>
                        <li><strong>PUT</strong> - for entirely replacing the data</li>
                        <li><strong>GET</strong> - for getting the entire data</li>
                        <li><strong>POST</strong> - for adding new elements to the existing data</li>
                    </ul>
                    <p>What if you wanna modify an existing player data.. (*remember we are not gonna add new
                        elements)... we are just gonna modify the existing player component to this we use -
                        <strong>PATCH</strong></p>
                    <ul>
                        <li>i. Instead of directly updating the playerStat on score increased or decreased.. or won++ or
                            loss++..</li>
                        <li>ii. Now we have to create a new object of the copy of previous playerStat and increment in
                            the values in the new playerStat Object and keep ready for patching</li>
                        <li>iii. Now we have the id of that playerStat.. we have to initiate a PATCH http call to patch
                            the values of that playerStat in the firebase and then after it is successfull .. Update the
                            same in your local</li>
                        <li><strong>This time only after successfull updation in the firebase.. you'll have to update
                                your local and do .next() on it.. </strong></li>
                        <li>iv. Refer my <a
                                href="https://bitbucket.org/akshayaravindh1015/custom-assignment/commits/0398b9c2d5526c0a41c7985e515e7c4ebbe68a82"
                                target="_blank">Commit</a></li>
                    </ul>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>
                        <h4>DashBoard Component - also fetch the details from firebase</h4>
                    </ng-template>
                    <ul>
                        <li>i. Now in the ngOnit of DashBoard service.. you might have been doing the same thing what
                            you used to do in game-arena -- just fetch locally stored variables from the database
                            service..but now the situation has changed</li>
                        <li>ii. Now even in the dashboard component - you need to fetch the data from firebase.. do You
                            what exactly did in the game-arena in dashboard as well</li>
                        <li>iii. After this step is done.. I'll tell you the benefits of the application..</li>
                        <ul>
                            <li>a. for example.. Open my applicatoin in two browser..or two different devices.. in your
                                mobile phone and laptop</li>
                            <li>b. Play game in one device/browser.. navigate to dashboard in other device and refresh
                                .. you'll see the results</li>
                        </ul>
                    </ul>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>
                        <h4>Vola.. You are done 😄</h4>
                    </ng-template>
                    <div>
                        <button class="btn btn-primary" matStepperPrevious>Back</button>
                        |
                        <button class="btn btn-info" (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>

                <!-- <button class="btn btn-info" (click)="image1.style.display = 'inline'">Show the image</button>
                    |
                    <button class="btn btn-danger" (click)="image1.style.display = 'none'">Hide the image</button>
                    |
                    <img #image1 style="display: none" src="assets/localByPassRouter.jpg"> -->

            </mat-vertical-stepper>
        </div>
    </div>
</div>


<!--
const canILoadObs: Observable<boolean> = Observable.create(
    (observer)=>{
        this._backendService.getPlayers()
        .subscribe((playersArr:PlayerStat[])=>{
            if(playersArr.length ==0){
            observer.next(true);
            } else {
            observer.next(false);
            }
            observer.complete();
        })
    }
);
return canILoadObs;
-->