.cardWrapper {
  padding: 20px;
  .cardInnerWrap {
    min-height: 250px;
    padding: 20px;
    border-radius: 10px;
    // margin: 20px;
    background-color: #00000093;
    box-shadow: -5px 5px 8px rgba(208, 211, 200, 0.5);
  }
}
