.row {
  .element {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    margin-bottom: 20px;
    z-index: 2;
    input {
      z-index: 3;
      &.ng-invalid.ng-touched{
        border: 1px solid red;
      }
    }
    .error-msg {
      z-index: 2px;
      margin-top: -3px;
      width: 100%;
      padding: 5px 10px 2px 10px;
      color: rgba(255, 40, 40, 0.932);
      background-color: rgba(122, 122, 122, 0.267);
      border-radius: 2px;
    }
  }
}
