<cust-card>

    <div class="row">
        <h4 class="element">Select the number of players</h4>
        <div class="col-xs-2" *ngFor="let val of [2,3,4,5]">
            <label class="radio-inline">
                <input type="radio" [id]="'inlineRadio'+val" [value]="val" [formControl]="numberOfPlayers"> {{val}}
                Players
            </label>
        </div>
    </div>

    <br>

    <div class="row">

        <div *ngFor="let playerFormGroup of playersArray.controls;let i=index" class="col-xs-6">
            <h4>Player {{i+1}} - Details</h4>
            <div [formGroup]="playerFormGroup">
              <!--
              <label class="col-sm-2 control-label" for="{{i+1}}Id">Id</label>
              <div class="col-sm-10 element">
                  <input type="number" class="form-control" id="{{i+1}}Id" placeholder="Ex. 1015"
                      formControlName="playerId">
                  <span
                      class="error-msg"
                      *ngIf="playerFormGroup.controls.playerId.invalid && playerFormGroup.controls.playerId.touched">
                      Please enter a valid Id
                  </span>
              </div>
              -->
                <label class="col-sm-2 control-label" for="{{i+1}}Name">Name</label>
                <div class="col-sm-10 element">
                    <input type="text" class="form-control" id="{{i+1}}Name" placeholder="Ex. Sreekesh"
                        formControlName="playerName">
                    <span
                        class="error-msg"
                        *ngIf="playerFormGroup.controls.playerName.invalid && playerFormGroup.controls.playerName.touched">
                        Please enter a valid Name
                    </span>
                </div>
            </div>
        </div>

        <!-- <div class="col-xs-6">
            <h4>Player 1 - Details</h4>
            <div [formGroup]="player1FormGroup">
                <label class="col-sm-2 control-label" for="oneId">Id</label>
                <div class="col-sm-10 element">
                    <input type="number" class="form-control" id="oneId" placeholder="Ex. 1015"
                        formControlName="playerId">
                </div>
                <label class="col-sm-2 control-label" for="oneName">Name</label>
                <div class="col-sm-10 element">
                    <input type="text" class="form-control" id="oneName" placeholder="Ex. Sreekesh"
                        formControlName="playerName">
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <h4>Player 2 - Details</h4>
            <div [formGroup]="player2FormGroup">
                <label class="col-sm-2 control-label" for="twoId">Id</label>
                <div class="col-sm-10 element">
                    <input type="number" class="form-control" id="twoId" placeholder="Ex. 1234"
                        [formControl]="player2FormGroup.controls.playerId">
                </div>
                <label class="col-sm-2 control-label" for="twoName">Name</label>
                <div class="col-sm-10 element">
                    <input type="text" class="form-control" id="twoName" placeholder="Ex. Akshay"
                        [formControl]="player2FormGroup.controls.playerName">
                </div>
            </div>
        </div> -->

    </div>

    <br>
    <button type="submit" class="btn btn-default" (mousedown)="submit()">Submit</button>
    <br>

</cust-card>
