.dashBoardWrapper {
  padding: 20px;
  .dashBoardInnerWrap {
    min-height: 200px;
    padding: 20px;
    border-radius: 10px;
    // margin: 20px;
    background-color: #00000093;
    box-shadow: -5px 5px 8px rgba(208, 211, 200, 0.5);
    .centerRow {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    h1 {
      margin: 10px 20px;
    }
    h2 {
      margin: 10px 0;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      fa-icon {
        font-size: 15px;
        color: red;
        cursor: pointer;
      }
    }
    th {
    //   padding: 10px;
      font-size: x-large;
      background-color: #dddddd;
      color: black;
    }
    th:not(:last-child) {
      border-right: 1.6px solid black;
    }
    // tr:nth-child(even) {
    //   background-color: #dddddd;
    //   color: black;
    // }
  }
}
