<div class="dashBoardWrapper">
    <div *ngIf="isGettingDataFromFireBase; else showGame">Loading....</div>
    <ng-template #showGame>
        <div class="dashBoardInnerWrap">
            <div class="centerRow">
                <h1>Games Played So Far</h1>
                <h1>{{metrics.numberOfGameSPlayed}}</h1>
            </div>

            <table>
                <tr>
                    <th>Players</th>
                    <th>Games Played</th>
                    <th>Won</th>
                    <th>Lost</th>
                    <th>Score</th>
                    <th>-</th>
                </tr>

                <tr *ngFor="let playerStat of metrics.playerStats">
                    <td><strong>{{playerStat.name}}</strong></td>
                    <td>{{playerStat.gamesPlayed}}</td>
                    <td>{{playerStat.won}}</td>
                    <td>{{playerStat.lost}}</td>
                    <td>{{playerStat.score}}</td>
                    <td>
                        <fa-icon [icon]="faUserDelete" (click)="deleteThisPlayer(playerStat.id)"></fa-icon>
                    </td>
                </tr>

            </table>

            <br>

            <div class="centerRow">
                <button class="btn btn-danger" (click)="deleteAllThePlayer()">
                    Delete All The Players
                </button>
            </div>

        </div>
    </ng-template>
</div>