<div class="playerWrapper" themeSwitch>
    <div class="playerInnerWrap">
        <h2>Player 2</h2>
        <hr>
        <div class="actions">
            <p>Player One actions come here</p>
        </div>

        <div *ngIf="!!gameQuestion">
            <p *ngIf="!!gameQuestion.inputValue">Question:
                <strong>{{gameQuestion.inputValue}}</strong></p>
            <!-- <p *ngIf="!!gameQuestion.generatedValue1">Number generated in game controller is
                <strong>{{gameQuestion.generatedValue1}}</strong></p>
            <p *ngIf="!!gameQuestion.generatedValue2">Number generated in game controller is
                <strong>{{gameQuestion.generatedValue2}}</strong></p> -->

            <div class="form-group">
                <label for="answerValue2">Player 2 answer is: </label>
                <input 
                    type="number" 
                    class="form-control" 
                    id="answerValue2" 
                    placeholder="Enter your ansser here"
                    #answer>

                <br>
                <button 
                    class="btn btn-success" 
                    (click)="sendAnswer()"
                >Send the answer</button>
                | 
                <button class="btn btn-link" (click)="cheatTheGame()">Cheat</button>
                |
                <button class="btn btn-link" (click)="checkMyLuck()">Check My luck</button>
            </div>
        </div>

        <p [innerHTML]="operationType"></p>

    </div>
</div>