.playerWrapper {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  margin: 20px;
  border-radius: 10px;
  padding: 40px;
  background-color: #00000093;
  box-shadow: -5px 5px 8px rgba(208, 211, 200, 0.5);
  .playerInnerWrap {
    h2 {
      margin: 10px 0;
    }
    .actions {
    }
  }
}
