<div class="playerWrapper" liteMode>
    <div class="playerInnerWrap">
        <h2>Player 1</h2>
        <hr>
        <div class="actions">
            <p>Player One actions come here</p>
        </div>

        <div *ngIf="!!gameQuestion">
            <p *ngIf="!!gameQuestion.inputValue">Question:
                <strong>{{gameQuestion.inputValue}}</strong></p>
            <!-- <p *ngIf="!!gameQuestion.generatedValue1">Number generated in game controller is
                <strong>{{gameQuestion.generatedValue1}}</strong></p>
            <p *ngIf="!!gameQuestion.generatedValue2">Number generated in game controller is
                <strong>{{gameQuestion.generatedValue2}}</strong></p> -->

            <div class="form-group">
                <label for="answerValue">Player 1 answer is: </label>
                <input 
                    type="number" 
                    class="form-control" 
                    id="answerValue" 
                    placeholder="Enter your ansser here"
                    [(ngModel)]="answerValue">

                <br>
                <button 
                    class="btn btn-success" 
                    [disabled]="!answerValue" 
                    (click)="sendAnswer()"
                >Send the answer</button>
                | 
                <button class="btn btn-link" (click)="cheatTheGame()">Cheat</button>
                |
                <button class="btn btn-link" (click)="checkMyLuck()">Check My luck</button>
            </div>
        </div>

        {{ operationType }}

        {{ gameQuestion | operatorSign }}

    </div>
</div>