h2 {
  margin: 10px 0;
}
.actions {
}
.progressBar {
  height: 10px;
  border-radius: 3px;
  border: 1px solid white;
  margin: 5px 0px 20px 0px;
  .innerProgress {
    height: 100%;
    background-color: greenyellow;
    transition: width 0.8s ease-in;
  }
}
