<cust-card>

    <div class="row">
        <div class="col-lg-9">
            <h2>{{playerDetails.name}}</h2>
        </div>
        <div class="col-lg-3">
            <h2>{{playerDetails.score}}</h2>
        </div>
    </div>
    <!-- <hr> -->
    <span>Percentage of game progress..</span>
    <div class="progressBar">
        <div class="innerProgress" [ngStyle]="{'width': progressPercentage+'%'}">
        </div>
    </div>
    <div class="actions">
        <p>Your actions come here</p>
    </div>

    <div *ngIf="!!gameQuestion">
        <p *ngIf="!!gameQuestion.inputValue">Question:
            <strong>{{gameQuestion.inputValue}}</strong></p>
        <!-- <p *ngIf="!!gameQuestion.generatedValue1">Number generated in game controller is
                <strong>{{gameQuestion.generatedValue1}}</strong></p>
            <p *ngIf="!!gameQuestion.generatedValue2">Number generated in game controller is
                <strong>{{gameQuestion.generatedValue2}}</strong></p> -->

        <div class="form-group">
            <label for="answerValue">your answer is: </label>
            <input type="number" class="form-control" id="answerValue" placeholder="Enter your ansser here"
                [(ngModel)]="answerValue">

            <br>
            <button class="btn btn-success" [disabled]="!answerValue" (click)="sendAnswer()">Send the
                answer</button>
            |
            <button class="btn btn-link" (click)="cheatTheGame()">Cheat</button>
            |
            <button class="btn btn-link" (click)="checkMyLuck()">Check My luck</button>
        </div>
    </div>

    {{ operationType }}

    {{ gameQuestion | operatorSign }}

</cust-card>