<div class="container">
    <div class="row">
        <div *ngIf="isGettingDataFromFireBase; else showGame">Loading....</div>
        <ng-template #showGame>
            <div class="col-lg-12 col-xs-12">
                <div class="row align-center">
                    <div class="col-xs-12 col-md-6">
                        <game-controller></game-controller>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6" *ngFor="let player of players">
                <player [id]="player.id"></player>
            </div>
        </ng-template>
    </div>
</div>