/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  background-color: #60645e8a !important;
  color: #fff !important;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}
